body
{
	padding-top : 56px;
}

.content
{
	padding-top : 35px;
}

.form-login
{
	max-width : 350px;
}

.table
{
	overflow-x : auto;
}

.form-article .input-group .col:nth-child(1)
{
	padding-left : 0;
}

.form-article .input-group .col:nth-child(2)
{
	padding-right : 0;
}
.custom-select:disabled
{
	background-image : none;
}

.notification {
	position:fixed;
	top:65px;
	left:15%;
	z-index:99999;
	text-align:center;
	opacity : 0.85;
}