RewriteEngine  On    # Turn on the rewriting engine
#RewriteBase    /

RewriteRule    ^/?$    index.php    [NC,L]    # Handle requests for "oversigt"
RewriteRule    ^oversigt/?$    index.php    [NC,L]    # Handle requests for "oversigt"
RewriteRule    ^logind/?$    login.php    [NC,L]    # Handle requests for "logind"
RewriteRule    ^logud/?$    api/logout.php    [NC,L]    # Handle requests for "logud"
RewriteRule    ^historik/?$    history.php    [NC,L]    # Handle requests for "historik"
RewriteRule    ^statistik/?$    statistic.php    [NC,L]    # Handle requests for "statistik"
RewriteRule    ^projekter/?$    projects.php    [NC,L]    # Handle requests for "projecter"
RewriteRule    ^udlån/?$    lend.php    [NC,L]    # Handle requests for "udlån"
#RewriteRule    ^udlånreturnering/?$    lendreturn.php    [NC,L]    # Handle requests for "udlånreturnering"
#RewriteRule    ^returnering/?$    return.php    [NC,L]    # Handle requests for "returnering"

RewriteRule    ^article/?$    article.php    [NC,L]    # Handle requests for "article"
RewriteRule    ^article/([A-Za-z0-9-]+)/?$    article.php?article_name=$1    [NC,L]    # Process article
RewriteRule    ^article/([0-9]+)/?$    article.php?article_id=$1    [NC,L]    # Handle article requests

RewriteRule    ^dashboard/?$    dashboard.php    [NC,L]    # Handle requests for "dashboard"
RewriteRule    ^dashboard/([A-Za-z0-9-]+)/?$    get_product_by_name.php?product_name=$1    [NC,L]    # Process dashboard
RewriteRule    ^dashboard/([0-9]+)/?$    dashboard.php?dashboard_id=$1    [NC,L]    # Handle dashboard requests

RewriteRule    ^[A-Za-z-]+/([A-Za-z0-9-]+)/?$    get_product_by_name.php?product_name=$1    [NC,L]    # Process all products regardless directory


RewriteRule    ^config\.php/?$    config.php   [NC,F]    # Handle requests for "config"
RewriteRule    ^config/?$    config.php   [NC,F]    # Handle requests for "config"